



<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recibo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


</head>

<body>


    <div class="plantilla">

        <div style="text-align: center;">

            <img class="logo" src="~/Imagenes/Logo/logoRecibo.png">

        </div>



        <div class="nombreEmpresa bolder" style="margin-bottom: 7px; margin-top: 15px; font-size: 14PX;">
            MEGA ACEROS
            FERRETERIA
        </div>


        <table style="width: 100%;">

            <tr>
                <td>
                    <div class="encabezado">




                        <div class="mt-1">
                            <strong class="bolder">RUC:</strong> <label>13147791070010</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Dirección:</strong> <label>PELILEO -TUNGURAHUA</label>
                        </div>



                        <hr style="visibility: hidden;">

                        <div>
                            <strong class="bolder">Factura N.-</strong> <label>001-001-000000001</label>
                        </div>
                        <strong class="bolder">Autorizazión SRI:</strong>
                        <div style="width: 80mm;word-wrap:break-word">02508202301091682780100110010010000001408493372714</div>


                        <hr style="visibility: hidden;">

                        <div class="mt-1">
                            <strong class="bolder">Fecha:</strong> <label>08-25-2023</label>
                        </div>


                        <div class="mt-1">
                            <strong class="bolder">Ced/Ruc:</strong> <label>1314779107001</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Nombre</strong> <label>ANTHONY MORANTE</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Dirección:</strong> <label>PELILEO GRANDE</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Telefono:</strong> <label>0990307592</label>
                        </div>




                    </div>
                </td>
            </tr>

        </table>


        <table class="detalleTabla">

            <thead>

                <tr>
                    <th>CANT</th>
                    <th>DESCRIP</th>
                    <th>P.UNIT</th>
                    <th>TOTAL</th>
                </tr>

            </thead>

            <tbody>

                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR</td>
                    <td>8.29</td>
                    <td>250.93</td>
                </tr>


                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>



                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>


                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>TUBO RECTANGULAR 40 X 20 1.5 </td>
                    <td>8.29</td>
                    <td>8.93</td>
                </tr>

            </tbody>

        </table>


        <div>
        </div>




        <table style="width: 100%;" class="tablaPrincipalTotales">
            <tr>
                <td>

                    <table style="width: 100%;">

                        <tr>
                            <td class="bolder">FORMA PAGO:</td>
                            <label></label>

                        </tr>

                        <tr>
                            <td class="bolder">EFECTIVO</td>
                            <label></label>
                            <td>0.00</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">DINERO ELEC</td>
                            <td>0.00</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">TARJ CRED/DEB</td>
                            <td>0.00</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">OTROS </td>
                            <td>0.00</td>
                            <label></label>
                        </tr>


                    </table>

                </td>
                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td class="bolder">SUBTOTAL</td>
                            <label></label>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">IVA0%</td>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">IVA12%</td>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">VALOR IVA</td>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>

                        <tr>
                            <td class="bolder">TOTAL</td>
                            <td class="end" style="font-weight: bolder;">540.000</td>
                            <label></label>
                        </tr>







                    </table>
                </td>
            </tr>
        </table>



        <table style="width: 50%;" class="tablaPrincipalTotales">
            <tr>



                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td class="bolder">RECIBIDO</td>
                            <label></label>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>

                        <tr>
                            <td class="bolder">VUELTO</td>
                            <label></label>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>



                    </table>
                </td>
            </tr>


        </table>
        <div class="nombreEmpresa bolder" style="margin-bottom: 7px; margin-top: 15px;">
            AGENTE DE RETENCIÓN RESOLUCIÓN
            N.
        </div>
        <div class="nombreEmpresa " style="margin-bottom: 5px;">NAC-DNCRASC20-000000001</div>


    </div>





</body>

<style>


    .tablaPrincipalTotales {
        border: 1px solid black;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }


    .nombreEmpresa {
        text-align: center;
    }

    .bolder {
        font-weight: bolder;
    }

    .end {
        text-align: end;
    }


    .plantilla {
        color: black;
        margin-left: auto;
        margin-right: auto;
        width: 80mm;
        height: 157mm;
        /* border: 1px solid black; */
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .text7 {
        font-size: .7rem;
    }

    .mt-1 {
        margin-top: 4px;
    }



    /* .encabezado {
            margin-left:0px;
        } */


    .detalleTabla {
        border: 1px solid black;
        width: 100%;
        border-left: none;
        border-right: none;
        margin-top: .2rem;
    }

    .bolder {
        font-weight: bolder;
    }


    .detalleTabla tbody tr {
        text-align: center;
        font-size: 12px;
    }

    .logo {
        width: 150px;
        height: 60px;
        margin-top: .6rem;
    }
</style>

</html>